/* filepath: /c:/Users/KimDog/Documents/Development/Websites/kimdog-smp/app/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'SuperBakery';
  src: url('/fonts/SuperBakery.ttf') format('truetype'); /* Adjust the path to your font file */
  font-weight: normal;
  font-style: normal;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
}